[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=exporter
X-Python-2-Compatible=false
X-Krita-Manual=DOCS.html
Name=Exporter
Comment=export nodes in various ways
