[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=toggle_docker
X-Python-2-Compatible=false
X-Krita-Manual=DOCS.html
Name=Toggle Docker
Comment=toggling dockers
